<!DOCTYPE html>
<html lang="en">

<% if (theme.grayscale) { %>
	<style>
		body {
			filter: grayscale(100%);
		}
	</style>
	<% } %>
	

<%- partial('_partial/head') %>

	<body>
		<%- partial('_partial/header.ejs') %>
			<%- partial('_partial/sidebar.ejs') %>

				<!-- 引入正文 -->
				<div id="content" class="content">
					<%- body %>
				</div>
				<%- partial('_partial/footer.ejs') %>
				<%- partial('_partial/totop') %>
	</body>

</html>